@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;700;900&display=swap');

.page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}