.ActivityGrid{
background-color: grey;


}

.ActivityGrid h1  {
    justify-content: center;
    text-align: center;


}
.ActivityGrid h2{
    justify-content: center;
    text-align: center;
    color: rgb(25, 0, 255);

}
.ActivityGrid h3{
    justify-content: center;
    text-align: center;
    color: rgb(9, 255, 0);

}
.ActivityGrid h4{
    justify-content: center;
    text-align: center;
    color: rgb(255, 238, 0);

}
.ActivityGrid h5{
    justify-content: center;
    text-align: center;
    color: rgb(225, 0, 255);

}
.ActivityGrid h6{
    justify-content: center;
    text-align: center;
    color: red;

}