@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;700;900&display=swap');

.header {
    overflow: hidden;
    background-color: white;
    width: 100vw;
    height: 80px;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin: 0 20px;
}

.navList {
    display: flex;
    justify-content: right;

    & a {
        align-items: center;
        border: 1px solid black;
        border-radius: 6px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0 20px;
        min-width: 75px;
        padding: 2px;
        text-decoration: none;
    }

    & a:hover {
        background-color: lightblue;
        transition: .5s;
    }
}