.solarimg{
    flex-direction: row;
    float: left;
        justify-content: center;
        border-radius: 20%;
        max-width: 400px;
        max-height: 400px;
        margin: right;
        padding-left: 8px;

}

.solarh4{
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    width: 20%;
   
}
