@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;700;900&display=swap');

.footer {
    color: pink;
    overflow: hidden;
    width: 100vw;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #12265A;
}